<form class="form-signin" novalidate [formGroup]="form">
  <h2 class="form-signin-heading">Nueva Subcategoria para {{categoria?.nombre}}</h2>
  <label for="inputName" class="sr-only">Nombre Subcategora </label>
  <input type="text" id="inputName" class="form-control" placeholder="Nombre SubCategoria " formControlName="nombre" required autofocus>
  <!--<label for="inputDecripcion" class="sr-only">Descripción</label>
  <input type="text" id="inputDecripcion" class="form-control" placeholder="Descripcion SubCategoria"  formControlName="descripcion" required>
  -->
  <button class="btn btn-lg btn-primary btn-block" (click)="guardarSubcategoria()">Guardar</button>
</form>
