<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Cover</h3>
              <nav class="nav nav-masthead">
                <a routerLink="/home" class="nav-link active" >Home</a>
                <a class="nav-link" routerLink="/login">login</a>
                <a class="nav-link" href="#">Contact</a>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">miDonacionApp</h1>
            <p class="lead">own</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-secondary" routerLink="/login">Ingreso</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p><a href="https://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>
